# Fichiers générés à ignorer
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
.vs/
*.sln
*.suo
*.user
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Build files
Build/

# Plugins générés
Plugins/*/Intermediate/
Plugins/*/Binaries/

# Mac
.DS_Store

# LFS (voir étape 4)
